<div class="right_panel">

  <div class="outer">
    <h1>Schedule</h1>
    <br>
    <a href="/schedule">Set Schedule</a>
    <p><%= image.get('schedule') %></p>
    <form class="registration_form login_left" method="post" action="/i/add_schedule_item/<%= image.id %>">
      <div class="outer">
          <p align="left">Schedule: <br/><input type="text" name="schedule" placeholder="9:00am Registration"></p>
          <input type="submit" value="Add" >
      </div>
    </form>
  </div>
  
</div>

<div class="image_container">
  <div class="outer">
    <h1><%= image.title() %></h1>
    <p style="text-align: left;"><%= image.get('startDate') %> - <%= image.get('endDate') %></p>
    <p style="text-align: left;"><%= image.get('descr') %></p>
    <p style="text-align: left;"><%= image.get('email') %></p>
    <br>
    <div class="image">
      <a href="<%= image.get('sizeOriginal').url() %>">
        <img src="<%= image.get(size).url() %>" />
      </a>
    </div>
  </div>
</div>

<script>
  $("input").click(function(e) {
    var el = $(e.target);
    el.select();
  });
</script>

<script>
  function submit() {
    var elem = document.getElementById("schedule");
    image.add("schedule", "elem.value");
    image.save();
    //window.location.href = "/i/" + image.objectId;
  }
</script>