<div class="right_panel">

  <h1>Schedule</h1>
  <br>
  <p><%= image.get('startDate') %></p>
  <p><%= image.get('endDate') %></p>
  <p><%= image.get('schedule') %></p>
  <p><%= image.get('email') %></p>
  
</div>

<div class="image_container">
  <div class="outer">
    <h1><%= image.title() %></h1>
    <h3 style="text-align: left;"><%= image.get('descr') %></h3>
    <br>
    <div class="image">
      <a href="<%= image.get('sizeOriginal').url() %>">
        <img src="<%= image.get(size).url() %>" />
      </a>
    </div>
  </div>
</div>

<script>
  $("input").click(function(e) {
    var el = $(e.target);
    el.select();
  });
</script>
